@model CarPlanet.Models.User

@{
    ViewData["Title"] = "Login";
}


<body>

    <div class="flex-container">
       
        <login>
           
            <form asp-controller="User" asp-action="Login" method="post">
                <h3>Login</h3>
                <div class="form-group">
                    <label asp-for="Email">Email Adresse</label>
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email eingeben">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Passwort">Passwort</label>
                    <input type="password" asp-for="Passwort" class="form-control" placeholder="Passwort eingeben">
                    <span asp-validation-for="Passwort"></span>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Einloggen</button>
            </form>
        </login>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img height="580" width="464" src="https://i.pinimg.com/originals/a0/8a/29/a08a29cc6253f91cdcd5dcbe7189a6b6.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img height="580" width="464" src="https://www.reuters.com/resizer/T6rG97r7TZ_aXfoj8GZdf8to6bM=/1920x2400/smart/filters:quality(80)/cloudfront-us-east-2.images.arcpublishing.com/reuters/T7VRYMJJAVONFEIYOW43M67HJ4.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img height="580" width="464" src="https://s.abcnews.com/images/Business/porsche-taycan-turbo-s-01-ht-iwb-210615_1623782736213_hpMain_4x5_992.jpg" alt="Third slide">
                </div>
            </div>
        </div>
    </div>


</body>
