@model CarPlanet.Models.User

@{
    ViewData["Title"] = "Logout";
}


<body>

    <div class="flex-container">

        <logout>
            <p>Sie sind eingeloggt</p>
            <a class="btn btn-primary" asp-controller="User" asp-action="Logout">Logout</a>
        </logout>

     
    </div>


</body>
