@model List<CarPlanet.Models.Ersatzteil>
@{
    ViewData["Title"] = "Ersatzteile";
}<p>Hier kommen die Ersatzteile</p>

@if ((Model != null) && (Model.Count >= 1))
{

<table>

    <thead>
        <tr>
            <td>Teilname</td>
                       
            <td>Nutzen des Teils</td>
        </tr>

    </thead>

    <tbody>
        @foreach (Ersatzteil a in Model)
        {
            <tr>

                <td>@a.Teilname</td>
                
                
                <td>@a.Nutzen</td>
            </tr>
        }

    </tbody>

    <tfoot>
        <tr>
            <td></td>
        </tr>
    </tfoot>

</table>
}