@{
    ViewData["Title"] = "Home Page";

}
<h1>CarPlanet</h1>

<p>
    Wir haben diese Seite erstellt um sie über verschiedene Autos zu informieren. Deswegen besuchen sie regelmäßig unsere seite um nichts neues zum Thema autos zu verpassen.
</p>

