@{
    ViewData["Title"] = "Home Page";

}
<h1>CarPlanet</h1>

<p>
    Willkommen auf unsere Seite, @ViewBag.username !
</p>

@if (@ViewBag.isAdmin == 1) { 
    <p>
        You are logged in as Administrator
    </p>
} 

