@model List<CarPlanet.Models.Autos>

@{
    ViewData["Title"] = "Auto";
}

<body>
    <div class="card">
        <img src="https://i.pinimg.com/originals/a0/8a/29/a08a29cc6253f91cdcd5dcbe7189a6b6.jpg" alt="Car">
        <div class="container">
            <h4><b>Auto</b></h4>
            <p>Infos über Auto</p>
        </div>
        <button>Details</button>

    </div>
</body>
