
.flex-container {
    
    display:inline-flex;
    justify-content: flex-start;
}

login {
    flex:2;
    min-width:80%;
    margin-right: 20px;
   
    
}

register {
   
    flex:2;
    min-width:80%;
    margin-right: 20px;
}

.carousel slide {

    flex:1;
    max-width:480px;

}
.carousel-inner {
    max-width:480px;
    min-width:480px;
}
.form-group {
    
    width:60%
}


